<div id="banner">
  <div class="menu">
    <ul>
      <li><a href="{{ '/' | relative_url }}" class="button"><i class="fa fa-home"></i> 网站首页</a></li>
      {% if site.log_button %}
      <li id="log"><a href="{{ '/log' | relative_url }}" class="button"><i class="fa fa-file-text"></i> 维护日志</a></li>
      {% endif %}
      <li><a href="{{ '/about' | relative_url }}" class="button"><i class="fa fa-users"></i> 关于我们</a></li>
      <li id="project-page"><a href="{{ site.github.repository_url }}" class="button"><i class="fa fa-github"></i> 项目页面</a></li>
    </ul>
  </div>
</div><!-- end banner -->
